.journalBgPhoto {
    /* height: 72%; */
    height: 50%;
    left: -23%;
    top: 20%;
    position: fixed;
    z-index: -1;
    aspect-ratio: 3 / 2;
    transform: translate(0%, 0%);
}

.journalBgPhoto img {
    object-fit: contain;
}

@media (min-width: 768px) {
    .journalBgPhoto {
        height: 72%;
        left: -10%;
        bottom: 0;
        height: 100%;
        max-height: 72vh;
    }
}

@media (min-width: 1024px) {
    .journalBgPhoto {
        max-height: 70%;
        left: 0;
    }
}

@media (min-width: 1280px) {
    .journalBgPhoto {
        max-height: 100%;
    }
}

@media (min-width: 1536px) {
    .journalBgPhoto {
    }
}
