@import 'tailwindcss';


/* xs: '480px',
sm: '640px',
md: '768px',
lg: '1024px',
xl: '1280px',
'2xl': '1536px', */

html {
  font-size: 16px; /*  set for safety purposes  */
}

body {
    padding-bottom: env(safe-area-inset-bottom);
}

@theme {
  --font-display: 'Kaisei Opti', serif;
  --font-secondary: 'Montserrat', sans-serif;
  --color-primary: #000000;
  --color-accent: #0fe400;
  --color-avocado-300: oklch(0.94 0.11 115.03);
  --color-avocado-400: oklch(0.92 0.19 114.08);
  --color-avocado-500: oklch(0.84 0.18 117.33);
  --color-avocado-600: oklch(0.53 0.12 118.34);
  --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
  --ease-snappy: cubic-bezier(0.2, 0, 0, 1);
}
